@model List<Country>

<form asp-action="Details" asp-controller="Home">
    <p>Please select a country</p>
    @foreach (Country c in Model)
    {
        <label>Name: @c.Name</label>
        <input type="radio" name="countryName" value="@c.Name" />
    }


    <input type="submit" />
</form>

